@import 'tailwindcss';
@import 'leaflet/dist/leaflet.css';

/* Typo globale Nestymo */
body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  color: #0f1923;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #e2e8f0;
  }
}
